<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PokeDex</title>
</head>
<body>
<ul>
  <li><!-- Emplacement pour mettre un lien--></li>
  <li style="float:right" id="flag" (click)="changeLang()">
    <img *ngIf="lang=='fr'" class="flag" src="https://tse3.mm.bing.net/th?id=OIP.H1jiSzWKwtR_ixi-3siISwHaE8&pid=Api"/>
    <img *ngIf="lang=='en'" class="flag" src="https://tse1.mm.bing.net/th?id=OIP.1-cMAordBD8677w80v3XrgHaDt&pid=Api"/>
  </li>
<!--  onclick="clickFlag()"-->
</ul>
<div class="main">
  <h1>PokeDex</h1>
  <div id="poke_container" class="poke-container">
    <div *ngFor="let pokemon of pokemonList" class="pokemon" [ngStyle]="getBackgroundColor(pokemon.types)" (click)="gotoDetails(pokemon.id)">
      <div class="img-container">
        <img [src]="'assets/images/'+pokemon.id+'.png'"/>
      </div>
      <div class="info">
				<span class="number">
          {{ pokemon.id.toString().padStart(3, '0') }}
        </span>
        <h3 class="name">{{getName(pokemon.names)}}</h3>
        <small class="type">Type: <span>{{getTypes(pokemon.types)}}</span></small>
      </div>
    </div>
  </div>
</div>
</body>
</html>
